.timer-content-wraper {
  padding: 16px;
}

.input-content,
.timer {
  margin-right: auto;
  margin-left: auto;
}

.input-content {
  width: 355px;
}

.input-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.input-field:hover {
  border-color: #000;
}

.input-field:focus {
  border-color: #4e75ff;
  outline: none;
}

.input-field:disabled {
  color: #808080;
  border-color: #808080;
}

.start-btn {
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.start-btn:hover {
  background-color: #6c8cff;
}

.start-btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  column-gap: 24px;
  width: 346px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}
